* {
  outline: none !important;
}

body {
  overflow-x: hidden !important;
  height: 100vh;
}

@media (max-width:550px) {
  body {
    padding-top: 25px;
  }
}



/* .login-enter::after {
  content: "";
  position: absolute;
  height: 3px;
  z-index: 100;
  border-radius: 2px;
  width: 0%;
  left: 0;
  bottom: -5px;
  background: #85A6A2;
  transition: 200ms;
} */

/* .login-enter:hover::after {
  width: 100%;
} */

.scrolling_wrapper {
  /* margin: 1rem !important; */
}

.category_img {
  border: 2px solid #ffffff !important;
  height: 6rem;
  width: 8rem;
}

.selected_category_img {
  border: 2px solid #ffffff !important;
  height: 6.4rem;
  width: 8rem;
}

.sub_category_col {
  margin-bottom: 2.5rem !important;
}

.scrollable_card {
  border: 2px solid #ffffff !important;
  margin-right: 1rem !important;
}

.border_selected {
  border: 2px solid red !important;

}

.subcategory_border_selected {
  border: 2px solid red !important;
  border-radius: 1rem !important;

}

.main_category_heading {
  font-weight: bolder;
  font-size: 0.8rem;
}

.main_category_overlay {
  top: 60% !important;
  padding: 0 !important;
}

.subcategory_wrapper {
  overflow: scroll !important;
  height: 50vh !important;

}

.sub_category_heading {
  font-size: 1rem !important;
  padding: 0 !important;
  font-weight: 600;
  text-align: center !important;
}

.sub_category_overlay {
  top: 70% !important;
}

.bi-heart {
  color: red !important;
  cursor: pointer;
  font-size: 1.3rem;
}

.navbar-custom {
  position: relative !important;
  z-index: 100 !important;
}

.offcanvas {
  width: 60vw !important;
}

.Btn-Blue-BG.active {
  background-color: rgb(84, 65, 65) !important;
}

.Btn0-Blue-BG.active {
  background-color: rgb(9, 7, 8) !important;
}

.bottom_slider {
  margin: 1rem;
}

.home_img {
  border: 2px solid #ffffff !important;
  height: 6rem !important;
  width: 7rem !important;
}

.product_slider_img {
  height: 5rem !important;
  width: 10rem !important;
}

.product_slider_img_selected {
  border: 1px solid red !important;

}


.sub_category_overlay {
  top: 70% !important;
  padding: 0 !important;
}

.sub_category_heading {
  font-weight: 600;
  font-size: 0.8rem !important;
  position: relative !important;
  z-index: 100;
  color: #fff;
  text-decoration: none;
}

.my-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10rem;
  height: 6rem;
  color: #ffffff !important;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.product_description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7rem;
}

.product_heading {
  font-size: 1rem !important;
  font-weight: 600 !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_ellipse {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offcanvas_all_items {
  width: 30vw !important;
}